/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: 'Baloo Da 2', cursive;
}

html {
  font-size: 62.5%;
}

.blue-btn {
  width: 35rem;
  height: 5rem;
  background-color: #036bb1;
  color: #fff;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.front-page {
  display: none;
}

.logo {
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 800;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.p-1 {
  font-size: 4.5rem;
  margin-right: 1rem;
  position: relative;
  z-index: 10;
}

.p-2 {
  font-size: 4.5rem;
  color: #bbb;
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
}
/* End of Common Styles */

/* Section 1 */

/* note we start with our image 
it will be first*/
.section-1 {
  width: 100%;
  height: 65vh;
  background: linear-gradient(
      to top,
      rgba(38, 38, 38, 0.7),
      rgba(38, 38, 38, 0.6)
    ),
    url(images/bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

/* we make our wrapper and banner next*/
.navbar-wrapper {
  width: 100%;
  height: 8rem;
  border-bottom: 0.1rem solid #aaa;
  display: flex;
  justify-content: center;
}

.menu {
  display: none;
}

.navbar {
  width: 120rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
}

/* note here that the height is the same as the
nav-bar wrapper*/
.nav-list-item {
  height: 8rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  transition: border-bottom 0.1s;
}

/* here we create the border bottom on hover*/
.nav-list-item:hover {
  border-bottom: 0.2rem solid white;
}

/* now we start the drop down menu*/
.nav-dropdown {
  width: 100%;
  height: 20rem;
  background: linear-gradient(to right, #066399, #2f8fdf, #066399);
  position: absolute;
  top: 8rem;
  left: 0;
  z-index: 100;
  padding: 0 30rem;
  display: flex;
  justify-content: 'center';
  flex-wrap: 'wrap';
  opacity: 0;
  visibility: hidden;
}

.nav-dropdown-item {
  width: 25rem;
  margin: 2rem 10rem;

  /* two items one on top of the other*/
  display: flex;
  flex-direction: column;
}

.dropdown-heading {
  display: none;
}

.nav-dropdown-link-1 {
  font-size: 1.6rem;
  color: #fff;
}

.nav-dropdown-link-2 {
  font-size: 1.3rem;
  color: #fff;
}

/* note because anchor is inline -- we have to incrase to 100% */
.nav-list-link {
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;

  /* note that this display flex is for the chevrons 
  to keep them centered*/
  display: flex;
  align-items: center;
  /*end chevron center vertically in field*/
}

/* here we style the chevrons*/
.nav-list-link i {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  /* for chevron rotation */
  transition: transform 0.3s;
}

/* here we rotate the chevon on hover and rotate*/
.nav-list-item:hover .nav-list-link i {
  transform: rotateZ(180deg);
}

.navbar-btn {
  width: 8rem;
  padding: 0.7rem;
  margin: 0.3rem;
  border-radius: 3rem;
  border: 0.1rem solid #fff;
  font-size: 1.4rem;
  cursor: pointer;
}

/* select first child*/
.navbar-btn:nth-child(1) {
  background-color: transparent;
  color: #fff;
}

.navbar-btn:nth-child(2) {
  background-color: #fff;
  color: #262626;
}

/* START BANNER */

.banner {
  width: 100%;
  position: absolute;
  top: 25%;
  text-align: center;
}

.banner-heading {
  font-size: 6rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 3rem;
}

.banner-paragraph {
  font-size: 1.8rem;
  color: #fff;
  width: 50%;

  /* note how we place the element in the center of the banner*/
  /* margin 0 and auto left and right with 4 on bottom*/
  margin: 0 auto 4rem auto;
  /* end paragraph centering */
}

/* End Section 1*/

/* Section 2 */

.section-2 {
  width: 100%;
  padding: 10rem 0 15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2-heading {
  font-size: 5rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 3rem;
}

.services {
  display: flex;
}

.service {
  width: 35rem;
  text-align: center;
  margin: 0 5rem;
}

/* here we style the font awesome icons */
.service i {
  font-size: 6rem;
  color: #229fb7;
  margin: 2rem 0;
}

.service-heading {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

/* note line height is not rem -- just 1.something */
.service-paragraph {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.service-btn {
  width: 20rem;
  padding: 1.5rem;
  background-color: transparent;
  border-radius: 3rem;

  /*now change border*/
  border: 0.1rem solid #036bb1;
  color: #036bb1;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

/* End Section 2 */

/* section 3*/

.section-3 {
  width: 100%;
  padding: 5rem 0;
  background: linear-gradient(
    to right,
    rgba(3, 33, 129, 0.9),
    rgba(9, 67, 153, 0.8),
    rgba(4, 32, 124, 0.9)
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-3-heading {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 5rem;
}

/* because 6 and divided by 3 -- will wrap */
.features {
  width: 70%;
  display: flex;
  flex-wrap: wrap; /*see below*/
}

/* feature to take up 1/3 of the wrapper */
/* we need to divide 100% / 3 */
/* each feature will take up 1/3 of the wrapper 
use flex wrap to features on two different lines */

.feature {
  width: calc(100% / 3);
  padding: 0 5rem;
  margin-bottom: 5rem;
}

.feature-heading {
  /* will take up the width required to display the content*/
  width: max-content;
  font-size: 3rem;
  font-weight: 300;

  /* note how feature heading is centered with
  the use of margin auto */
  margin: 0 auto 1rem auto;
}

.feature-paragraph {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}
/* end of section 3 */

/* section 4*/

.section-4 {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4-heading {
  font-size: 5rem;
  font-weight: 400;
  color: #444;
  margin-bottom: 5rem;
}

.section-4-content {
  display: flex;
}

.section-4-img-wrapper {
  width: 50rem;
}

.section-4-img-wrapper img {
  width: 100%; /* up to 100% to take up full wrapper*/
  opacity: 0.8; /* decrease opacity slightly*/
}

.section-4-list {
  width: 55%;
  margin-top: 2rem;
}

.seciton-4-list-item {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.number {
  width: 3.5rem;
  height: 3.5rem;
  border: 0.1rem solid #555;
  border-radius: 50%;
  margin-right: 1.5rem;

  /* PLACE NUMBER IN CENTER in the center of hte circle*/
  display: flex;
  justify-content: center;
  align-items: center;
  /* numbers now in teh center*/
}

/* highlight first link */
.section-4-list-item a {
  color: #036bb1;
  font-weight: bold;
}

/* end of section 4*/

/* SECTION 5 */

.section-5 {
  width: 100%;
}

.section-5-top {
  width: 100%;
  background-color: #f3f7fa;
  /* palce elements in teh center */
  text-align: center;
  padding: 7rem 0;
}

.section-5-top-heading {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

/* footer */

.footer {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 3rem 0;
}

.footer-top {
  width: 70%;
  display: flex;
  /* divide the two lists*/
  justify-content: space-between;
  border-bottom: 0.1rem dotted #262626;
  padding-bottom: 1rem;
}

/* display footer list in a row */
.footer-list {
  display: flex;
  align-items: center;
  color: #262626;
}

.footer-list a {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer-list {
  width: 3.8rem;
  margin-right: 2.5rem;
}

/* image size -- make its smaller */
.footer-list img {
  width: 3.8rem;
  opacity: 0.6;
}
.copyright {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
/* end of footer */

/* END OF SECTION */

/* LOGIN PAGE */

.login-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.login-page-content {
  position: absolute;
  top: 12%;

  /* note how we center perfectly*/
  left: 50%;
  transform: translateX(-50%);
  /* center perfectly */

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 0.1rem solid #cfcfcf;
  /* create some space in teh box with apdding */
  padding: 3rem;
}

/* now we do the logo */
.login-page-logo {
  margin-bottom: 1.2rem;
}

.login-page-logo .p-1 {
  color: #064699;
}

.login-page-logo .p-2 {
  color: #32a4f0;
}

.login-page-logo span:nth-child(3) {
  color: #064699;
}

.login-page-logo span:nth-child(4) {
  color: #32a4f0;
}

.login-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* END OF LOGIN PAGE */
